{%

  assign content = content | split: '<pre class="highlight">' %}{%

  for parts in content %}{%

    assign part = parts | split: '</pre>' %}{%
    assign c = part.first %}{%
    assign t = part.last %}{%

    assign t = t | replace: '&#39;', '’'
                 | replace: '~', '&nbsp;'
                 | replace: 'LaTeX', '<span class="latex">L<sup>a</sup>T<sub>e</sub>X</span>'
                 | replace: '[[', '<span class="as"></span><span class="br"> (</span><span class="mar">'
                 | replace: ']]', '</span><span class="br">)</span>' %}{%

    if page.lang == 'fr' %}{%

        assign t = t | replace: '&ldquo;', '«&#160;'
                     | replace: '&rdquo;', '&#160;»'
                     | replace: ' :', '&#160;:'
                     | replace: ' %', '&#160;%'
                     | replace: ' ;', '<span style="white-space:nowrap">&thinsp;</span>;'
                     | replace: ' !', '<span style="white-space:nowrap">&thinsp;</span>!'
                     | replace @: ' ?', '<span style="white-space:nowrap">&thinsp;</span>?' %}{%

    endif %}{%

    if part.size == 2

      %}
  <pre>{{ c | newline_to_br
            | replace: "<br />", "</code><br /><code>"
            | strip_newlines
            | replace: "<code></code>", ""}}</pre>{%

    endif

      %}{{ t }}{%

  endfor

%}
