<!doctype html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=0.85">
  <meta name="description" content="{% if page.desc %}{{ page.desc }}{% else %}{{ page.excerpt | strip_html | strip_newlines | replace: "[[", " ("  | replace: "]]", ")" }}{% endif %}">
  <title>{{ page.title | strip_html }} – Sylvain Durand</title>
  <link rel="icon" href="/medias/elements/favicon.ico">
  <link rel="alternate" href="/rss.xml" type="application/rss+xml">
  <link rel="stylesheet" href="/style.css">{% capture hide %}
    {% assign posts=site.posts | where:"date", page.date %}
    {% for post in posts %}
      {% if post.lang != page.lang %}
        {% assign url = post.url %}
        {% assign lang = post.lang %}
      {% endif %}
    {% endfor %}
  {% endcapture %}{% if url %}
  <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}">{% endif %}
</head>

<body class="{{ page.lang }}{% if page.type == 'pages' %} page{% endif %}">

<div class="nav">
  <ul>{% for menu in site.data.navigation[page.lang] %}
    <li><a href="{{ menu[1].url }}">{{ menu[1].title }}</a></li>{% endfor %}
    <li class="lang">{% assign posts=site.posts | where:"date", page.date | sort: 'path' %}{% for post in posts %}
      <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>{% endfor %}
    </li>
  </ul>
</div>

<h1 style="background-image: url('/medias/headers/{{ page.date | date:'%Y-%m-%d' }}.jpg')">{{ page.title }}</h1>

<div class="article">
{% include date.html date=page.date %}{% if page.type != 'pages' %}
<div class="date">{{ day }}{{ sup }} {{ month }} {{ year }}</div>{% endif %}
{% if page.original %}{% include date.html date=page.original %}
<div class="original">({{ site.data.translations[page.lang].original }} {{ day }}{{ sup }} {{ month }} {{ year }})</div>{% endif %}
{% capture hide %}
  {% assign content = content | split: '<pre' %}

  {% for parts in content %}

    {% assign part = parts | split: '</pre>' %}
    {% assign c = part.first %}
    {% assign t = part.last %}

    {% assign t = t | replace: '~', '&nbsp;'
                    | replace: 'LaTeX', '<span class="latex">L<sup>a</sup>T<sub>e</sub>X</span>'
                    | replace: '[[', '<span class="as"></span><span class="br"> (</span><span class="mar">'
                    | replace: ']]', '</span><span class="br">)</span>' %}

    {% if page.lang == 'fr' %}

    {% assign t = t | replace: '“', '«&#160;'
                    | replace: '”', '&#160;»'
                    | replace: ' :', '&#160;:'
                    | replace: ' %', '&#160;%'
                    | replace: ' ;', '<span style="white-space:nowrap">&thinsp;</span>;'
                    | replace: ' !', '<span style="white-space:nowrap">&thinsp;</span>!'
                    | replace @: ' ?', '<span style="white-space:nowrap">&thinsp;</span>?' %}

    {% endif %}

    {% if part.size == 2 %}

      {% capture output %}{{ output }}<pre{{ c }}</pre>{% endcapture %}

    {% endif %}

    {% capture output %}{{ output }}{{ t }}{% endcapture %}

  {% endfor %}
{% endcapture %}{{ output }}<hr/>

</div>

<div class="foot">{% include date.html date=page.date %}
  {{ site.data.translations[page.lang].created }} <span>{{ day }}{{ sup }} {{ month }} {{ year }}</span> {{ site.data.translations[page.lang].author }} <a href="http://sylvaindurand.org/">Sylvain Durand</a>.
</div>

<script type="text/javascript"> var _paq = _paq || []; _paq.push(['trackPageView']); _paq.push(['enableLinkTracking']); (function() { _paq.push(['setTrackerUrl', '/p/']); _paq.push(['setSiteId', 15]); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.async=true; g.defer=true; g.src='/p/'; s.parentNode.insertBefore(g,s); })(); </script><noscript><p><img src="/p/?idsite=15" style="border:0;" alt="" /></p></noscript>
</body>
</html>
